.cover {
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url(../images/cover__background.jpg);
  position: relative;
  margin: 92px auto 0;
  width: 100vw;
  min-height: 740px;
  max-width: 1184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url(../images/cover__background.jpg);
}

.cover__content {
  display: flex;
  flex-direction: column;
}

.cover__title {
  margin: 0 0 32px;
  text-align: center;
  font-size: 72px;
  line-height: 76px;
}

.cover__subtitle {
  text-align: center;
  font-family: Inter-Regular, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.cover__button {
  width: 137px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: Inter-Regular, sans-serif;
  background-color: #0278fe;
  border-radius: 4px;
  margin: 32px auto 0;
}

.cover__button:nth-of-type(n + 2) .cover__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: min(20vw, 92px);
    min-height: calc(254px + 486 * ((100vw - 320px) / 448));
  }

  .cover__title {
    margin-bottom: min(5vw, 32px);
    font-size: min(10vw, 72px);
    line-height: min(10.94vw, 76px);
  }

  .cover__subtitle {
    font-size: min(4.375vw, 18px);
    line-height: min(5vw, 22px);
  }

  .cover__button {
    margin-top: min(5vw, 32px);
  }
}
