.lead {
  margin: min(15.67vw, 90px) 0 0;
  display: flex;
  flex-direction: column;
}

.lead__title {
  font-size: min(12.5vw, 96px);
  line-height: min(13.75vw, 100px);
  margin: 0 auto;
  text-align: center;
  max-width: 793px;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.lead__subtitle {
  font-size: min(4.85vw, 30px);
  line-height: min(6.25vw, 36px);
  max-width: 720px;
  text-align: center;
  margin: min(5vw, 32px) auto 0;
}

.lead__image {
  margin: min(5vw, 64px) auto 0;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 36px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    margin-top: 40px;
  }
}
