.photo-grid {
  margin: calc(90px + 28 * ((100vw - 768px) / 512)) auto 0;
  display: grid;
  justify-content: center;
  grid-template: repeat(2, 1fr) / repeat(
      auto-fill,
      calc(352px - 68 * ((100vw - 768px) / 512))
    );
  width: 100%;
  /* max-width: 1184px; */
  gap: 16px;
}

.photo-grid__image {
  min-width: 284px;
  width: calc(352px - 68 * ((100vw - 768px) / 512));
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin-top: 118px;
    grid-template: repeat(2, 1fr) / repeat(4, 284px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-top: 90px;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(
        auto-fill,
        calc(288px + 64 * ((100vw - 320px) / 448))
      );
  }

  .photo-grid__image {
    max-width: calc(288px + 64 * ((100vw - 320px) / 448));
  }
}
