.place {
  display: grid;
  grid-template:
    auto min(calc(340px + 120 * ((100vw - 768px) / 512)), 460px) auto /
    fit-content(460px) auto;
  column-gap: calc(28px + 12 * ((100vw - 768px) / 512));
  row-gap: 48px;
  margin-top: calc(72px + 8 * ((100vw - 768px) / 512));
}

.place:first-of-type {
  margin: 0;
}

.place__title {
  font-size: min(5.625vw, 72px);
  line-height: min(5.99vw, 76px);
  margin: 0;
  max-width: min(35.93vw, 340px);
  text-align: left;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.place__artist {
  margin-top: auto;
  max-width: 456px;
}

.place__name-heading {
  margin: 0 0 8px;
  font-size: 12px;
  letter-spacing: 0.12em;
  color: #aaa;
  text-transform: capitalize;
}

.place__name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  max-width: calc(340px + 120 * ((100vw - 768px) / 512));
}

.place__text {
  grid-area: 2 / 2 / -1 / -1;
}

.place__paragraph {
  margin: 25px 0 0;
  font-size: 18px;
  line-height: 1.63;
  max-width: min(45.83vw, 484px);
}

.place__paragraph:first-of-type {
  margin: 0;
}

.place__button {
  width: 248px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #0278fe;
  border-radius: 4px;
  transition: background-color 0.3s linear;
}

.place__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    align-self: flex-start;
    margin-left: 16px;
  }

  .place__image {
    max-width: 320px;
  }

  .place__button {
    order: 5;
    width: 288px;
  }

  .place__paragraph {
    max-width: 288px;
  }
}
